@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($properties, $second, $amination) {
  -webkit-transition: $properties $second $amination;
  -moz-transition: $properties $second $amination;
  -ms-transition: $properties $second $amination;
  transition: $properties $second $amination;
}

