/** Reset */
body{
  font-size: 1em;
  font-family: 'Roboto Condensed', sans-serif !important;
}
a,a:hover,a:focus{
  text-decoration: none;
}
h1{
  font-size: 1.4em;
}
h2 {
  font-size: 1.3em;
}
h3{
  font-size: 1.2em;
}
h4{
  font-size: 1.1em;
}
h5{
  font-size: 1em;
}